[Unit]
Description=COT Analyzer
After=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/cot-analyzer/server-side
ExecStart=/bin/bash /root/cot-analyzer/server-side/launch-cot-analyzer.sh

[Install]
WantedBy=multi-user.target