[Unit]
Description=COT Analyzer
After=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/cot-analyzer/server-side
EnvironmentFile=/root/cot-analyzer/.env
ExecStart=/bin/bash /root/cot-analyzer/server-side/launch-cot-analyzer.sh
Restart=always

[Install]
WantedBy=multi-user.target